<app-loading>
    <div class="table-container">
        <div class="tools">
            <mat-form-field class="tool-item">
                <mat-label>{{ 'actions.search' | translate }}</mat-label>
                <input matInput type="text" [(ngModel)]="searchText">
                @if (searchText) {
                    <button matSuffix mat-icon-button (click)="onSearchClearClicked()">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
            <button mat-fab class="tools-btn tool-item" (click)="onSearchClicked()">
                <mat-icon class="tools-btn-icon">search</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-fab extended class="tools-btn tool-item" (click)="sendAllUSerNewPassword()">
                <mat-icon class="tools-btn-icon">email</mat-icon>
                {{ 'actions.send-all-user' | translate }}
            </button>
            <button mat-fab extended class="tools-btn tool-item" (click)="onGeneratePasswordsClicked()" [disabled]="selection.selected.length == 0">
                <mat-icon class="tools-btn-icon">lock_reset</mat-icon>
                {{ 'actions.generate-passwords' | translate }}
            </button>
            <button mat-fab extended class="tools-btn tool-item" (click)="onSyncClicked()">
                <mat-icon class="tools-btn-icon">sync</mat-icon>
                {{ 'actions.sync' | translate }}
            </button>
        </div>

        <section class="mat-elevation-z8 table-section" tabindex="0">
            <table mat-table [dataSource]="tableData" class="table">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(row)"
                            [checked]="selectedRows.contains(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.name' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <!-- Username Column -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.username' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.type' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ 'table.warehouse.' + element.type | translate }} </td>
                </ng-container>

                <!-- ERP Code Column -->
                <ng-container matColumnDef="erpCode">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.erpCode' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.erpCode }} </td>
                </ng-container>

                <!-- Address City Column -->
                <ng-container matColumnDef="address-city">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.address-city' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element['address-city'] }} </td>
                </ng-container>

                <!-- Address District Column -->
                <ng-container matColumnDef="address-district">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.address-district' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element['address-district'] }} </td>
                </ng-container>

                <!-- Address Street Column -->
                <ng-container matColumnDef="address-street">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.address-street' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element['address-street'] }} </td>
                </ng-container>

                <!-- Contant Name -->
                <ng-container matColumnDef="contact-name">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.contact-name' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element['contactInfo-name'] }} </td>
                </ng-container>

                <!-- Contant Email -->
                <ng-container matColumnDef="contact-email">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.contact-email' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element['contactInfo-email'] }} </td>
                </ng-container>

                <!-- Contant Phone -->
                <ng-container matColumnDef="contact-phone">
                    <th mat-header-cell *matHeaderCellDef> {{ 'table.warehouse.contact-phone' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element['contactInfo-phone'] }} </td>
                </ng-container>

                <!-- Manage Button -->
                <ng-container matColumnDef="manage">
                    <th mat-header-cell *matHeaderCellDef> {{ 'actions.manage' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="changePassword(element)">{{ 'table.manage.change-password' | translate }}</button>
                            <button mat-menu-item (click)="sendPassword(element['contactInfo-email'])">{{ 'table.manage.send-password' | translate }}</button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
            </table>
        </section>

        <mat-paginator [length]="count" [pageSizeOptions]="[20, 50, 100]" (page)="onPageChanged($event)">
        </mat-paginator>
    </div>
</app-loading>