<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ 'integrations.history.initial.header' | translate }}</mat-panel-title>
            <mat-panel-description>{{ 'integrations.history.initial.summary' | translate }}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ 'integrations.history.initial.content-1' | translate }}</p>
        <p>{{ 'integrations.history.initial.content-2' | translate }}</p>
    </mat-expansion-panel>
</mat-accordion>