<h2 mat-dialog-title>{{ 'business.warehouses.update-password.header' | translate }}</h2>
<mat-dialog-content class="content">
    <form [formGroup]="updatePasswordForm">
        <mat-form-field>
            <mat-label>{{ "auth.password" | translate }}</mat-label>
            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required />
            <button mat-icon-button matSuffix (click)="onPasswordToggle()" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form['password'].errors?.['required']">
                {{ "auth.password-required" | translate }}
            </mat-error>
            <mat-error *ngIf="form['password'].errors?.['minlength']">
                {{ "auth.password-length" | translate }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-actions (click)="onButtonClicked()">{{ 'actions.update' | translate }}</button>
</mat-dialog-actions>