<h1 mat-dialog-title class="header">{{ 'integrations.sync.header-1' | translate }}</h1>
<mat-dialog-content class="mat-typography popup-content">
    <p>{{ 'integrations.sync.content-1' | translate }}</p>
    <div class="btn-container">
        <button mat-flat-button class="download-btn" (click)="downloadExcel()">{{ 'excel.download-excel' | translate }}</button>
    </div>
    <p></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ 'actions.close' | translate }}</button>
</mat-dialog-actions>